.container{
  margin: 2.5em auto;
  padding: 2em 1.5em 3.5em 1.5em;
  max-width: 800px;

  color: white;

  background-color: var(--space-cadet);
  border-radius: 1.5em;
}

.link{
  margin: 0 .5em;
}

.title{
  color: var(--carrot-orange);
}
