.container {
  margin: 2.5em auto;
  padding: 1em 1.5em 1.5em 1.5em;
  max-width: 700px;

  color: white;

  background-color: var(--space-cadet);
  border-radius: 1.5em;

  display: flex;
  flex-direction: column;
}

.removeFilter,
.filterButton {
  background-color: transparent;
  color: var(--snow);

  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: .5em;

  font-size: 0.8em;
  z-index: 100;

  border: none;

  cursor: pointer;
}

.hide{
  display: none;
}

.removeFilter {
  color: red;
}

.showFilter {
  height: 5em;
  transform: translateX(0);
  opacity: 100;
  transition: .5s;
}

.hideFilter {
  height: 0em;
  transform: translateX(0);
  opacity: 0;
  transition: 1s;
}

.table {
  margin: 2em auto .8em auto;
  border-collapse: collapse;
  min-width: 100%;
}

.topright {
  border-radius: 0 0.5em 0 0;
}

.topleft {
  border-radius: 0.5em 0 0 0;
}

.table th {
  background-color: var(--pallatinate-blue);
  padding: 5px 8px;

  font-size: 1em;
  font-weight: 400;

  position: sticky;
  top: 0;
}

.table > thead > tr > th > input {
  background-color: transparent;
  border: none;
  color: var(--snow);
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.table td {
  text-align: center;
  border: 1px solid var(--pallatinate-blue);
  padding: 5px;
}

.total{
  margin: 0 0 0 auto;
  background-color: var(--snow);
  font-weight: bold;
  padding: .5em;
  border-radius: 8px;
  font-size: .8em;
  color: var(--pallatinate-blue);
}

.noWrap {
  white-space: nowrap;
}

.entry {
  fill: #32cd32;
}

.exit {
  fill: red;
}

.value {
  text-align: end !important;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.options > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete {
  fill: gray;
}

.edit {
  fill: #ffcc00;
}

.noResult {
  margin: 3em 0 2em 0;
  text-align: center;
  fill: var(--snow);
}

@media (max-width: 700px) {
  .container {
    padding: 1em 1em 1.5em 1em;
    overflow-x: auto;
  }
}
